body {
  font-family: Edu Tas Beginner, sans-serif;
  background-image: url('../img/cork.png');
}

h1 {
  font-size: 5rem;
}

.header {
  background-image: url('../img/wall.png');
}

.card {
  position: relative;
}

.pin {
  position: absolute;
  top: -15px;
  left: calc(50% - 20px);
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  flex-direction: column;
}

.overlay img {
  height: 500px;
}